<a href="https://colab.research.google.com/github/lovedatascience1/AcademyPublic/blob/main/Excel_processing_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Libraries

In [1]:
import pandas as pd
import os

from openpyxl.workbook import Workbook
from openpyxl import load_workbook

In [2]:
# current working directory
os.getcwd()

'/content'

In [3]:
# change working dorectory for Excel_Automation

from google.colab import drive 
drive.mount('/content/drive')

os.chdir('/content/drive/My Drive/Excel_Automation')
os.getcwd() # check the new current working directory

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

'/content/drive/My Drive/Excel_Automation'

In [4]:
# assign current working directory (`cwd`)
cwd = os.getcwd()
cwd

'/content/drive/My Drive/Excel_Automation'

In [5]:
# check files present in curent directory
os.listdir()

['DE.xlsx',
 'FR.xlsx',
 'Groceries.xlsx',
 'Python',
 'Folder',
 'Consolidation_HR',
 'Consolidation_HR\\Consolidated_by_sheet.xlsx',
 'UK.xlsx',
 'Excel_processing_Basics.ipynb',
 'Files_Manipulation.ipynb',
 'Python.ipynb',
 'Groceries_1.xlsx',
 'Groceries_Formated.xlsx']

# First steps

# Nouvelle section

Steps


1.   Create / Load workbook
2.   Worksheets
3. Cell
4. Column / Row
5. Range

Workbook

In [6]:
# create workbook object
wb = Workbook()

In [7]:
# load excel workbook
wb = load_workbook('Groceries.xlsx') # relative path
wb

Worksheets

In [8]:
# check the sheetnames
sheets = wb.sheetnames
sheets

['Groceries', 'Prices', 'Price_tracking']

In [9]:
# grab a sheet by name
ws = wb['Groceries']
print(ws.title)
# grab sheet by nb
ws_1 = wb[sheets[0]]
ws_1.title

Groceries

'Groceries'

Cell

In [10]:
# print cell A1 from the sheet
# be aware of the difference

print(ws['A1'])
print(ws['A1'].value)

<Cell 'Groceries'.A1>
Name

Column / Row

In [11]:
# column
column_a = ws['A']
print('We obtain a tuple: ' )
print('Only cell references without values... ' )
column_a

We obtain a tuple:
Only cell references without values...

(<Cell 'Groceries'.A1>,
 <Cell 'Groceries'.A2>,
 <Cell 'Groceries'.A3>,
 <Cell 'Groceries'.A4>,
 <Cell 'Groceries'.A5>,
 <Cell 'Groceries'.A6>,
 <Cell 'Groceries'.A7>,
 <Cell 'Groceries'.A8>,
 <Cell 'Groceries'.A9>,
 <Cell 'Groceries'.A10>,
 <Cell 'Groceries'.A11>)

In [12]:
# we need to iterate in a loop cell by cell to access cell value from the column
for cell in column_a[:11]:
    print(cell.value)

Name
Kevin
Sean
Marina
Jess
Nicolas
Winston
Peter
Monica
Rachel
Lisa

In [13]:
# row
row_1 = ws[1]
for cell in row_1:
    print(cell.value)

Name
Orange
Banana
Apples
Kiwi

Ranges

In [14]:
# grab a range

cellrange = ws['A1:C6']
print(cellrange)

# loop 
for cell in cellrange:
    print(cell)

print('...')
print('....  only references are displayed without values')

((<Cell 'Groceries'.A1>, <Cell 'Groceries'.B1>, <Cell 'Groceries'.C1>), (<Cell 'Groceries'.A2>, <Cell 'Groceries'.B2>, <Cell 'Groceries'.C2>), (<Cell 'Groceries'.A3>, <Cell 'Groceries'.B3>, <Cell 'Groceries'.C3>), (<Cell 'Groceries'.A4>, <Cell 'Groceries'.B4>, <Cell 'Groceries'.C4>), (<Cell 'Groceries'.A5>, <Cell 'Groceries'.B5>, <Cell 'Groceries'.C5>), (<Cell 'Groceries'.A6>, <Cell 'Groceries'.B6>, <Cell 'Groceries'.C6>))
(<Cell 'Groceries'.A1>, <Cell 'Groceries'.B1>, <Cell 'Groceries'.C1>)
(<Cell 'Groceries'.A2>, <Cell 'Groceries'.B2>, <Cell 'Groceries'.C2>)
(<Cell 'Groceries'.A3>, <Cell 'Groceries'.B3>, <Cell 'Groceries'.C3>)
(<Cell 'Groceries'.A4>, <Cell 'Groceries'.B4>, <Cell 'Groceries'.C4>)
(<Cell 'Groceries'.A5>, <Cell 'Groceries'.B5>, <Cell 'Groceries'.C5>)
(<Cell 'Groceries'.A6>, <Cell 'Groceries'.B6>, <Cell 'Groceries'.C6>)
...
....  only references are displayed without values

In [15]:
# to acces values we need to iterate over the tuples

for item in cellrange:
    for subitem in item:
        print(subitem.value)

print('.....note that it will iterarate in horizontal direction... ')

Name
Orange
Banana
Kevin
7
8
Sean
11
10
Marina
1
1
Jess
10
6
Nicolas
7
3
.....note that it will iterarate in horizontal direction...

# Iterate through rows and columns

## Rows : iter_rows()

In [16]:
# iterate through rows
# it will iterate in horizontal direction

for row in ws.iter_rows(min_row=1, # the range starts at 1st row
                        max_row=3, # the range ends at 3rd row
                        min_col=1, # the range starts at 1st column
                        max_col=5): # the range ends at 5th column
    for cell in row:
        print(cell)

<Cell 'Groceries'.A1>
<Cell 'Groceries'.B1>
<Cell 'Groceries'.C1>
<Cell 'Groceries'.D1>
<Cell 'Groceries'.E1>
<Cell 'Groceries'.A2>
<Cell 'Groceries'.B2>
<Cell 'Groceries'.C2>
<Cell 'Groceries'.D2>
<Cell 'Groceries'.E2>
<Cell 'Groceries'.A3>
<Cell 'Groceries'.B3>
<Cell 'Groceries'.C3>
<Cell 'Groceries'.D3>
<Cell 'Groceries'.E3>

In [17]:
# if we add << values_only=True >>
for row in ws.iter_rows(min_row=1, max_row=3, min_col=1, max_col=5, values_only=True):
    for cell in row:
        print(cell)
    print('.........................end of row')

Name
Orange
Banana
Apples
Kiwi
.........................end of row
Kevin
7
8
11
4
.........................end of row
Sean
11
10
3
7
.........................end of row

## Columns : iter_cols()

In [18]:
# iterate through col
# it will iterate in vertically direction
for col in ws.iter_cols(min_row=1, 
                        max_row=4, 
                        min_col=1, 
                        max_col=3, 
                        values_only=True):
    for cell in col:
        print(cell)
    (print('..........end of column'))

Name
Kevin
Sean
Marina
..........end of column
Orange
7
11
1
..........end of column
Banana
8
10
1
..........end of column

# Read mulitple rows

In [19]:
for row in range(1, 4):
    for cell in ws[row]:
        print('row nb: ', row, cell.value)

row nb:  1 Name
row nb:  1 Orange
row nb:  1 Banana
row nb:  1 Apples
row nb:  1 Kiwi
row nb:  2 Kevin
row nb:  2 7
row nb:  2 8
row nb:  2 11
row nb:  2 4
row nb:  3 Sean
row nb:  3 11
row nb:  3 10
row nb:  3 3
row nb:  3 7

# Modifications

*Modify cell*

In [20]:
# change cell value of A2
ws['A2']='Alex'

# save into another excel file
wb.save('Groceries_1.xlsx')

 *Add cels to spreadsheet*

In [21]:
# Change single cell

ws.cell(row=12, column=1).value= 'Greg'
wb.save('Groceries_1.xlsx')

In [22]:
# Add multiple cells

# create list with names
names=['Dan', 'Abagail', 'Leo']

# assign a variable with row index where we want to add the cell
starting_row = 13

# copy element by element from names list and in a loop assign them in the workbook at the indicated location
for name in names:
    ws.cell(row=starting_row, column=1).value = name
    # increment the counter
    starting_row= starting_row + 1

wb.save('Groceries_1.xlsx')

In [23]:
for row in range(10, 15):
    for cell in ws[row]:
        print('row nb: ', row, cell.value)

row nb:  10 Rachel
row nb:  10 4
row nb:  10 6
row nb:  10 11
row nb:  10 9
row nb:  11 Lisa
row nb:  11 7
row nb:  11 9
row nb:  11 8
row nb:  11 10
row nb:  12 Greg
row nb:  12 None
row nb:  12 None
row nb:  12 None
row nb:  12 None
row nb:  13 Dan
row nb:  13 None
row nb:  13 None
row nb:  13 None
row nb:  13 None
row nb:  14 Abagail
row nb:  14 None
row nb:  14 None
row nb:  14 None
row nb:  14 None

*Return data as a tuple*

In [24]:
# return data as tuples
sheet_cells = []
for rows in ws.iter_rows():
    row_cells = []
    for cell in rows:
        row_cells.append(cell.value)
    sheet_cells.append(tuple(row_cells))

print(sheet_cells)

[('Name', 'Orange', 'Banana', 'Apples', 'Kiwi'), ('Alex', 7, 8, 11, 4), ('Sean', 11, 10, 3, 7), ('Marina', 1, 1, 5, 10), ('Jess', 10, 6, 5, 2), ('Nicolas', 7, 3, 2, 6), ('Winston', 9, 10, 2, 4), ('Peter', 8, 4, 2, 8), ('Monica', 1, 8, 6, 9), ('Rachel', 4, 6, 11, 9), ('Lisa', 7, 9, 8, 10), ('Greg', None, None, None, None), ('Dan', None, None, None, None), ('Abagail', None, None, None, None), ('Leo', None, None, None, None)]

*create / delete a new sheet*

In [25]:
# change workseet title
ws.title = 'Groceries_List'
wb.save('Groceries_1.xlsx')

In [26]:
# create a new sheet where to write the new row
new_sheet= wb.create_sheet(title='New_sheet')
wb.save('Groceries_1.xlsx')

In [27]:
# remove the sheet
wb.remove(new_sheet)  
wb.save('Groceries_1.xlsx')

*Append*

In [28]:
# append data at the end of dataframe

# create a nested list that have 3 items, each item being a row in our excel
newdata = [('John', 2, 1, 3, 1), 
           ('Mark', 4, 2, 3, 1), 
           ('Eva', 5, 7, 3, 2)]

for item in newdata:
    ws.append(item)

# don't forget to save the modifications
# and have the excel closed
wb.save('Groceries_1.xlsx')

# Copy / Paste ranges

Notice that row 12 to 15 remain (from Greg to Leo) almost emtpty

Let's copy some cell range to paste it in this rows

*Rewrite a cell range*

In [29]:
# write a function that woud copy a cell range

#Takes: start cell, end cell, and sheet you want to copy from.
def copyRange(startCol, startRow, endCol, endRow, sheet):
    rangeSelected = []
    #Loops through selected Rows
    for i in range(
      startRow,endRow + 1,1):
        #Appends the row to a RowSelected list
        rowSelected = []
        for j in range(startCol,endCol+1,1):
            rowSelected.append(sheet.cell(row = i, column = j).value)
        #Adds the RowSelected List and nests inside the rangeSelected
        rangeSelected.append(rowSelected)

    return rangeSelected

In [30]:
# write a function that woud paste a cell range

#Paste data from copyRange into template sheet
def pasteRange(startCol, startRow, endCol, endRow, sheetReceiving,copiedData):
    countRow = 0
    for i in range(startRow,endRow+1,1):
        countCol = 0
        for j in range(startCol,endCol+1,1):
            
            sheetReceiving.cell(row = i, column = j).value = copiedData[countRow][countCol]
            countCol += 1
        countRow += 1

Copy / paste a row

In [31]:
selectedRange = copyRange(startCol =2,
                          startRow= 2,
                          endCol= 5,
                          endRow =2,
                          sheet = ws) 
print(selectedRange)

[[7, 8, 11, 4]]

In [32]:
pasteRange(startCol = 2,
           startRow = 12, 
           endCol=5, 
           endRow = 12, 
           sheetReceiving= ws,
           copiedData = selectedRange)
wb.save('Groceries_1.xlsx')

Copy paste cellrange : mulitple rows and columns

In [33]:
selectedRange = copyRange(startCol =2,
                          startRow= 5,
                          endCol= 5,
                          endRow =7,
                          sheet = ws) 
print(selectedRange)

[[10, 6, 5, 2], [7, 3, 2, 6], [9, 10, 2, 4]]

In [34]:
pasteRange(startCol = 2,
           startRow = 13, 
           endCol=5, 
           endRow = 15, 
           sheetReceiving= ws,
           copiedData = selectedRange)
wb.save('Groceries_1.xlsx')

Write / copy a list in a cell range

In [35]:
cellrange = ['Tom', 8, 2, 3, 2]

print(cellrange)
print(len(cellrange))

['Tom', 8, 2, 3, 2]
5

In [36]:
target_row= 21
for i in range(0, len(cellrange)):
    ws.cell(row=target_row, column = i+1).value= cellrange[i]
wb.save('Groceries_1.xlsx')

# Move / Insert

In [37]:
# move cell

ws._move_cell(row =21,
          column= 2, 
          row_offset= -1, # negative goes up, postivie goes down
          col_offset = 0) # negative to left, postivie to the right

wb.save('Groceries_1.xlsx')

In [38]:
# see what was written
for row in ws["A18:I22"]:
    print ([x.value for x in row])

['Eva', 5, 7, 3, 2, None, None, None, None]
[None, None, None, None, None, None, None, None, None]
[None, 8, None, None, None, None, None, None, None]
['Tom', None, 2, 3, 2, None, None, None, None]
[None, None, None, None, None, None, None, None, None]

In [39]:
# remove unwanted cell

ws.cell(row=20, column=2).value = None
wb.save('Groceries_1.xlsx')
# see what was written
for row in ws["A18:I22"]:
    print ([x.value for x in row])

['Eva', 5, 7, 3, 2, None, None, None, None]
[None, None, None, None, None, None, None, None, None]
[None, None, None, None, None, None, None, None, None]
['Tom', None, 2, 3, 2, None, None, None, None]
[None, None, None, None, None, None, None, None, None]

In [40]:
ws.move_range("A21:E21", 
                 -2, # how many rows
                 0) # how many columns
wb.save('Groceries_1.xlsx')

# see what was written
for row in ws["A18:I22"]:
    print ([x.value for x in row])

['Eva', 5, 7, 3, 2, None, None, None, None]
['Tom', None, 2, 3, 2, None, None, None, None]
[None, None, None, None, None, None, None, None, None]
[None, None, None, None, None, None, None, None, None]
[None, None, None, None, None, None, None, None, None]

In [41]:
# insert rows

ws.insert_rows(idx=10, # row location
               amount=2) # how many rows to insert
wb.save('Groceries_1.xlsx') 

# see what was written

for row in ws["A9:I12"]:
    print ([x.value for x in row])

['Monica', 1, 8, 6, 9, None, None, None, None]
[None, None, None, None, None, None, None, None, None]
[None, None, None, None, None, None, None, None, None]
['Rachel', 4, 6, 11, 9, None, None, None, None]

In [42]:
# insert columns
ws.insert_cols(idx=1, # col location
               amount=1) # how many cols to insert

wb.save('Groceries_1.xlsx') 

# see what was written
for row in ws["A1:I5"]:
    print ([x.value for x in row])

[None, 'Name', 'Orange', 'Banana', 'Apples', 'Kiwi', None, None, None]
[None, 'Alex', 7, 8, 11, 4, None, None, None]
[None, 'Sean', 11, 10, 3, 7, None, None, None]
[None, 'Marina', 1, 1, 5, 10, None, None, None]
[None, 'Jess', 10, 6, 5, 2, None, None, None]

In [43]:
# delete rows

ws.delete_rows(idx=10, amount=2)
wb.save('Groceries_1.xlsx') 

# see what was written

for row in ws["A9:I12"]:
    print ([x.value for x in row])

[None, 'Monica', 1, 8, 6, 9, None, None, None]
[None, 'Rachel', 4, 6, 11, 9, None, None, None]
[None, 'Lisa', 7, 9, 8, 10, None, None, None]
[None, 'Greg', 7, 8, 11, 4, None, None, None]

In [44]:
# delete cols

ws.delete_cols(idx=1, amount=1)
wb.save('Groceries_1.xlsx') 

# see what was written

for row in ws["A9:I12"]:
    print ([x.value for x in row])

['Monica', 1, 8, 6, 9, None, None, None, None]
['Rachel', 4, 6, 11, 9, None, None, None, None]
['Lisa', 7, 9, 8, 10, None, None, None, None]
['Greg', 7, 8, 11, 4, None, None, None, None]

# Use Formulas

In [45]:
from openpyxl.utils import get_column_letter, column_index_from_string
get_column_letter(5)

'E'

In [46]:
column_index_from_string('E')

5

In [47]:
ws['F2']= '=SUM(B2:E2)'
ws['F2'].value
wb.save('Groceries_1.xlsx')

In [48]:
# remove the  cell

column_index_from_string('F')

6

In [49]:
# remove the  cell

ws.cell(row=2, column=6).value = None
wb.save('Groceries_1.xlsx')

In [50]:
# nb of rows of excel dataframe
ws.max_row

22

Sometimes if the worksheet was manipulated some columns or rows are added even if there cells are empty.


> To evercome this we'll write function to compute max rows and max col

In [51]:
def get_maximum_rows(*, sheet_object):
    rows = 0
    for max_row, row in enumerate(sheet_object, 1):
        if not all(col.value is None for col in row):
            rows += 1
    return rows

get_maximum_rows(sheet_object = ws)

19

In [52]:
# nb of columnss of excel dataframe
ws.max_column

9

In [53]:
def get_maximum_cols(sheet):
    for i in range(1, 20000):
        if sheet.cell(row=2, column= i).value == None:
            max_col = i
            break
    return max_col

In [54]:
get_maximum_cols(sheet=ws)

6

*Why the result gets in 7th column G ?????????*

In [55]:
# column totals

first_row = 2
last_row = get_maximum_rows(sheet_object = ws)
end_col = get_maximum_cols(sheet=ws) -1
sum_col = end_col + 1
start_col = 2


for row in ws.iter_rows(min_row=2, 
                        max_row=last_row, 
                        min_col=  sum_col, 
                        max_col= sum_col):
    for cell in row:
        cell_sum_start = str(get_column_letter(start_col)) + str(first_row)
        cell_col_end = str(get_column_letter(end_col)) + str(first_row)
        cell.value = '=SUM({0}:{1})'.format(cell_sum_start, cell_col_end) 
        first_row= first_row+1

wb.save('Groceries_1.xlsx')

In [56]:
# row totals

first_row = 2
last_row = get_maximum_rows(sheet_object = ws)
sum_row = last_row + 1
start_col = 2
end_col = get_maximum_cols(sheet=ws) -1
for row in ws.iter_rows(min_row=sum_row,
                        max_row=sum_row, 
                        min_col=start_col,
                        max_col=end_col):
    for cell in row:
        cell_sum_start = cell.column_letter + str(first_row)
        cell_sum_end = cell.column_letter + str(last_row)
        cell.value = '=SUM({0}:{1})'.format(cell_sum_start, cell_sum_end) 
        #cell.number_format = '0'

wb.save('Groceries_1.xlsx')

In [57]:
# add total string for all rows
ws['A20']='Total'

# add total string for all rows
ws['F1']='Total'

# save into another excel file
wb.save('Groceries_1.xlsx')

In [58]:
# Get value of the cell containing the formula.
for row in ws["A1:F20"]:
    print ([x.value for x in row])

['Name', 'Orange', 'Banana', 'Apples', 'Kiwi', 'Total']
['Alex', 7, 8, 11, 4, '=SUM(B2:E2)']
['Sean', 11, 10, 3, 7, '=SUM(B3:E3)']
['Marina', 1, 1, 5, 10, '=SUM(B4:E4)']
['Jess', 10, 6, 5, 2, '=SUM(B5:E5)']
['Nicolas', 7, 3, 2, 6, '=SUM(B6:E6)']
['Winston', 9, 10, 2, 4, '=SUM(B7:E7)']
['Peter', 8, 4, 2, 8, '=SUM(B8:E8)']
['Monica', 1, 8, 6, 9, '=SUM(B9:E9)']
['Rachel', 4, 6, 11, 9, '=SUM(B10:E10)']
['Lisa', 7, 9, 8, 10, '=SUM(B11:E11)']
['Greg', 7, 8, 11, 4, '=SUM(B12:E12)']
['Dan', 10, 6, 5, 2, '=SUM(B13:E13)']
['Abagail', 7, 3, 2, 6, '=SUM(B14:E14)']
['Leo', 9, 10, 2, 4, '=SUM(B15:E15)']
['John', 2, 1, 3, 1, '=SUM(B16:E16)']
['Mark', 4, 2, 3, 1, '=SUM(B17:E17)']
['Eva', 5, 7, 3, 2, '=SUM(B18:E18)']
['Tom', None, 2, 3, 2, '=SUM(B19:E19)']
['Total', '=SUM(B2:B19)', '=SUM(C2:C19)', '=SUM(D2:D19)', '=SUM(E2:E19)', '=SUM(F2:F19)']

# Formating

In [59]:
# import libraries and modules for formating

# !pip install xlsxwriter
import xlsxwriter
from xlsxwriter.utility import xl_rowcol_to_cell
from xlsxwriter.utility import xl_col_to_name
from xlsxwriter.utility import xl_range, xl_range_abs
from xlsxwriter.utility import xl_rowcol_to_cell

In [60]:
# Convert Sheet to DataFrame 
df = pd.DataFrame(ws.values)
df.head(10)

         0       1       2       3     4              5     6     7     8
0     Name  Orange  Banana  Apples  Kiwi          Total  None  None  None
1     Alex       7       8      11     4    =SUM(B2:E2)  None  None  None
2     Sean      11      10       3     7    =SUM(B3:E3)  None  None  None
3   Marina       1       1       5    10    =SUM(B4:E4)  None  None  None
4     Jess      10       6       5     2    =SUM(B5:E5)  None  None  None
5  Nicolas       7       3       2     6    =SUM(B6:E6)  None  None  None
6  Winston       9      10       2     4    =SUM(B7:E7)  None  None  None
7    Peter       8       4       2     8    =SUM(B8:E8)  None  None  None
8   Monica       1       8       6     9    =SUM(B9:E9)  None  None  None
9   Rachel       4       6      11     9  =SUM(B10:E10)  None  None  None

In [61]:
# move the 1st row (index=0) to headers

headers = df.iloc[0,:]
df.columns = headers 
df = df.loc[1:]

print(df.shape)
df.head()

(21, 9)

0     Name Orange Banana Apples Kiwi        Total   NaN   NaN   NaN
1     Alex      7      8     11    4  =SUM(B2:E2)  None  None  None
2     Sean     11     10      3    7  =SUM(B3:E3)  None  None  None
3   Marina      1      1      5   10  =SUM(B4:E4)  None  None  None
4     Jess     10      6      5    2  =SUM(B5:E5)  None  None  None
5  Nicolas      7      3      2    6  =SUM(B6:E6)  None  None  None

In [62]:
# drop None values

df.dropna(how='all', axis=1, inplace=True)
df.dropna(how='all', axis=0, inplace=True)

print(df.shape)
# remove own index with default index
df.reset_index(inplace = True, drop = True)

df.head()

(19, 6)

0     Name Orange Banana Apples Kiwi        Total
0     Alex      7      8     11    4  =SUM(B2:E2)
1     Sean     11     10      3    7  =SUM(B3:E3)
2   Marina      1      1      5   10  =SUM(B4:E4)
3     Jess     10      6      5    2  =SUM(B5:E5)
4  Nicolas      7      3      2    6  =SUM(B6:E6)

In [63]:
# compute Total Column
# select columns to sum with iloc (from column Orange with index 1 to column Kiwi with index=5)

df['Total'] = df.iloc[:,1:5].sum(axis=1)
df

,Name,Orange,Banana,Apples,Kiwi,Total
0,Alex,7,8,11,4,30
1,Sean,11,10,3,7,31
2,Marina,1,1,5,10,17
3,Jess,10,6,5,2,23
4,Nicolas,7,3,2,6,18
5,Winston,9,10,2,4,25
6,Peter,8,4,2,8,22
7,Monica,1,8,6,9,24
8,Rachel,4,6,11,9,30
9,Lisa,7,9,8,10,34
10,Greg,7,8,11,4,30
11,Dan,10,6,5,2,23
12,Abagail,7,3,2,6,18
13,Leo,9,10,2,4,25
14,John,2,1,3,1,7
15,Mark,4,2,3,1,10
16,Eva,5,7,3,2,17
17,Tom,None,2,3,2,7
18,Total,=SUM(B2:B19),=SUM(C2:C19),=SUM(D2:D19),=SUM(E2:E19),=SUM(B2:B19)=SUM(C2:C19)=SUM(D2:D19)=SUM(E2:E19)

In [64]:
# row Total

df.iloc[18,1:6] = df.iloc[:17,1:6].sum(axis=0) # axis 0 meaning column axis

df.tail()

0    Name Orange Banana Apples Kiwi Total
14   John      2      1      3    1     7
15   Mark      4      2      3    1    10
16    Eva      5      7      3    2    17
17    Tom   None      2      3    2     7
18  Total    109    102     84   89   384

In [65]:
# copute the range of the whole dataframe 
max_row, max_col = df.shape
print(max_row, max_col)

df_range = xl_range(0,0, max_row, max_col - 1)
print(df_range)

19 6
A1:F20

In [66]:
# start indices
start = xl_rowcol_to_cell(0,0)
start_col = xl_col_to_name(0)
start_row = 0
print("start point:", start, 
      "start_row:", start_row,      
      "start col:", start_col)

start point: A1 start_row: 0 start col: A

In [67]:
# end indices
end_point = xl_rowcol_to_cell(max_row, max_col-1)
end_col = xl_col_to_name(max_col-1)
end_row = max_row + 1
print("end point:", end_point, 
      "end_row:", end_row,      
      "end col:", end_col)

end point: F20 end_row: 20 end col: F

In [68]:
 # write df into excel
 
# create an excel object
# writing DataFrame objects into excel sheets.
writer = pd.ExcelWriter('Groceries_Formated.xlsx', engine='xlsxwriter',
                        datetime_format='d mmm yy', 
                        date_format='d mmm yy')

# write the df in the excel object
df.to_excel(writer, # excel object
            sheet_name= 'Groceries' , # sheet name
            index=False, # add or not indexes in the excel
            startrow=0, # starting what row to copy
            startcol=0) # starting what column to copy

# download the excel object in the workbook in order to manipulate its sheets
workbook = writer.book
worksheet = writer.sheets['Groceries']

#  resize the sheet by adjusting the zoom
worksheet.set_zoom(60)

In [69]:
os.listdir()

['DE.xlsx',
 'FR.xlsx',
 'Groceries.xlsx',
 'Python',
 'Folder',
 'Consolidation_HR',
 'Consolidation_HR\\Consolidated_by_sheet.xlsx',
 'UK.xlsx',
 'Excel_processing_Basics.ipynb',
 'Files_Manipulation.ipynb',
 'Python.ipynb',
 'Groceries_1.xlsx',
 'Groceries_Formated.xlsx']

In [70]:
for col_num, value in enumerate(df.columns.values):
    print(col_num, value)

0 Name
1 Orange
2 Banana
3 Apples
4 Kiwi
5 Total

In [71]:
# Add a header format.

# define what format you want to apply
header_format = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'top',
    'fg_color': '#D7E4BC',
    'border': 1})

# Write the column headers with the defined format.
for col_num, value in enumerate(df.columns.values):
    worksheet.write(0, # on what row
                    col_num, # which column
                    value, # value to write
                    header_format) # format to apply

In [72]:
# save the excel object
# writer.save()
# workbook.close()  # close the workbook

# Charts

In [73]:
# Create a stacked chart sub-type.
#
chart2 = workbook.add_chart({'type': 'column', 'subtype': 'stacked'})

# Configure the first series.
chart2.add_series({
    'name':       '=Groceries!$B$1', # oranges
    'categories': '=Groceries!$A$2:$A$17',
    'values':     '=Groceries!$B$2:$B$17',
    'data_labels': {'value': False,
                    'font': {'bold': False,
                             'size': 10,
                             'color': 'black',
                             'rotation': -30}},
    'fill': {'color': 'lime', 'transparency': 20}
})

# Configure second series.
chart2.add_series({
    'name':       '=Groceries!$C$1', # banana
    'categories': '=Groceries!$A$2:$A$17',
    'values':     '=Groceries!$C$2:$C$17',
    'data_labels': {'value': False,
                    'font': {'bold': False,
                             'size': 10,
                             'color': 'black',
                             'rotation': -30}},
    'fill': {'color': 'red', 'transparency': 20}
})

# Configure 3rd series.
chart2.add_series({
    'name':       '=Groceries!$D$1', # apples
    'categories': '=Groceries!$A$2:$A$17',
    'values':     '=Groceries!$D$2:$D$7',
    'data_labels': {'value': True,
                    'font': {'bold': False,
                             'size': 10,
                             'color': 'black',
                             'rotation': -30}},
    'fill': {'color': 'blue', 'transparency': 20}
})

# Configure 4th series.
chart2.add_series({
    'name':       '=Groceries!$E$1', # kiwi
    'categories': '=Groceries!$A$2:$A$17',
    'values':     '=Groceries!$E$2:$E$7',
    'data_labels': {'value': True,
                    'font': {'bold': False,
                             'size': 10,
                             'color': 'black',
                             'rotation': -30}},
    'fill': {'color': 'green', 'transparency': 20}
})

# Add a chart title and some axis labels.
chart2.set_title ({'name': 'Stacked Chart'})
chart2.set_x_axis({'name': 'Names'})
chart2.set_y_axis({'name': 'Fruits'})

# Set an Excel chart style.
chart2.set_style(12)



chart2.set_x_axis({
    'name': 'Fruits per Name',
    'name_font': {'size': 14, 'bold': True},
    'num_font':  {'italic': True },
})

chart2.set_legend({'position': 'bottom'})


# Insert the chart into the worksheet.
worksheet.insert_chart('H2', chart2)

# Insert the chart into the worksheet (with an offset).
# worksheet.insert_chart('H2', chart2, {'x_offset': 25, 'y_offset': 10})

0

In [74]:
writer.save()
workbook.close()

/usr/local/lib/python3.7/dist-packages/xlsxwriter/workbook.py:339: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")