<a href="https://colab.research.google.com/github/lovedatascience1/AcademyPublic/blob/main/Files_Manipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
# Libraries
import os
import glob
import shutil
import pandas as pd

In [ ]:
from google.colab import drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Path : Current working directory

In [ ]:
os.getcwd() # get current working directory

'/content'

In [ ]:
# if you want to change the present working directory then,

os.chdir('/content/drive/My Drive/Excel_Automation')
os.getcwd() # check the new current working directory

'/content/drive/My Drive/Excel_Automation'

In [ ]:
# assign current working directory (`cwd`)
cwd = os.getcwd()
cwd

'/content/drive/My Drive/Excel_Automation'

In [ ]:
# List all files and directories in current directory
os.listdir('.')

['Files_Manipulation.ipynb',
 'UK.xlsx',
 'DE.xlsx',
 'FR.xlsx',
 'Python.ipynb',
 'Python',
 'Folder']

In [ ]:
# list of all excel files in the working directory
excel_files=[]
for file in os.listdir(cwd):
    if file.endswith('.xlsx'):
            excel_files.append(file)
            
print( 'there are', len(excel_files), "excel files: ", excel_files)

there are 3 excel files:  ['UK.xlsx', 'DE.xlsx', 'FR.xlsx']

In [ ]:
# check the absolute path of all excel files

filenames = glob.glob(cwd + "/*.xlsx")
print('File names with their paths:')
for path in filenames:
  print(path)

File names with their paths:
/content/drive/My Drive/Excel_Automation/UK.xlsx
/content/drive/My Drive/Excel_Automation/DE.xlsx
/content/drive/My Drive/Excel_Automation/FR.xlsx

# Create New Folder

In [10]:
# path to the directory
fold = cwd + '/' + 'Python'
# create directory
os.makedirs(fold)
fold

'/content/drive/My Drive/Excel_Automation/Python'

In [11]:
# Create a folder in the folder
other = cwd + '/' + 'New_Folder' + '/' +'Inner_folder' 
os.makedirs(other)
other

'/content/drive/My Drive/Excel_Automation/New_Folder/Inner_folder'

# Copy File

In [24]:
# create the folder where to paste files

des = cwd + '/' + 'Folder'
os.makedirs(des)

# file that we want to copy : UK.xlsx
src='/content/drive/MyDrive/Excel_Automation/UK.xlsx'

# copy the file in the folder we want
shutil.copy(src,des)

'/content/drive/My Drive/Excel_Automation/Folder/UK.xlsx'

In [25]:
# file that we want to copy : FR.xlsx
src='/content/drive/MyDrive/Excel_Automation/FR.xlsx'

# copy the file in the folder we want
shutil.copy(src,des)

'/content/drive/My Drive/Excel_Automation/Folder/FR.xlsx'

# Move File

In [14]:
shutil.move('/content/drive/MyDrive/Excel_Automation/New_Folder', # file/folder to copy
           '/content/drive/MyDrive/Excel_Automation/Python') # folder where to copy

'/content/drive/MyDrive/Excel_Automation/Python/New_Folder'

# Delete Files

In [15]:
# delete a file
os.unlink('/content/drive/MyDrive/Excel_Automation/Folder/UK.xlsx')

In [20]:
# delete empty folder
folder_to_remove= '/content/drive/My Drive/Excel_Automation/HR'
os.makedirs(folder_to_remove)

In [22]:
# delet empty folder
os.rmdir(folder_to_remove)

In [17]:
# delete NOT empty folder

shutil.rmtree(r'/content/drive/MyDrive/Excel_Automation/Folder')

In [26]:
# check again the files that you have in the working directory

os.listdir('.')

['Files_Manipulation.ipynb',
 'UK.xlsx',
 'DE.xlsx',
 'FR.xlsx',
 'Python.ipynb',
 'Python',
 'Folder']

# Work with Excel Files

In [28]:
# set visible all columns
pd.set_option('display.max_columns', None)

In [29]:
# Create a folder where we'll store all files related to HR
des = cwd + '/' + 'Consolidation_HR'
os.makedirs(des)

In [42]:
# copy all HR excel in this folder

# file that we want to copy : UK.xlsx
src='/content/drive/MyDrive/Excel_Automation/UK.xlsx'

# copy the file in the folder we want
shutil.copy(src,des)

# file that we want to copy : FR.xlsx
src='/content/drive/MyDrive/Excel_Automation/FR.xlsx'

# copy the file in the folder we want
shutil.copy(src,des)

# file that we want to copy : DE.xlsx
src='/content/drive/MyDrive/Excel_Automation/DE.xlsx'

# copy the file in the folder we want
shutil.copy(src,des)

'/content/drive/My Drive/Excel_Automation/Consolidation_HR/DE.xlsx'

##  Consolidate excel files into single on by sheet



1.   Firs read each excel files and put them into pandas dataframe
2.   Consolidate all excel files into a single excel with separate sheet by country

In [33]:
# DE
filename = 'Consolidation_HR/DE.xlsx'
de = pd.read_excel(filename, index_col=None, header=0)
de = pd.DataFrame(de)

# check dataframe shape
print('Dataframe Shape: ', de.shape)

Dataframe Shape:  (673, 14)

In [34]:
# add a column 'Country' to diferentiate the data in the consilidated dataframe
de['Country']= 'DE'

# check dataframe shape after adding the new column
print('Dataframe Shape: ', de.shape)

# visualize first rows
de.head()

Dataframe Shape:  (673, 15)

,Date,Name,Mannschaft,Rohe Präsenz (min),Pause (Minuten),Nettopräsenz (Min.),Behandlung (min),DMT,Productiviy,Processed tickets,Closed Tickets,FTE (processed),FTE (presence),FTE weighted,Country
0,2022-04-12,Employee_1,TEAM_1,102,0,102,4,00:02:08,0.6,2,1,0.00,0.25,0.00,DE
1,2022-04-13,Employee_1,TEAM_1,299,0,299,168,00:42:00,0.4,4,2,0.50,0.75,0.50,DE
2,2022-04-19,Employee_1,TEAM_1,478,0,478,275,00:16:12,2.0,17,16,0.75,1.00,0.75,DE
3,2022-04-20,Employee_1,TEAM_1,427,0,427,142,00:12:56,1.4,11,10,0.50,1.00,0.50,DE
4,2022-04-21,Employee_1,TEAM_1,482,0,482,129,00:16:12,1.0,8,8,0.50,1.00,0.50,DE

In [35]:
print('nb of columns: ', len(de.columns))
print('nb of rows: ', len(de))
de.columns

nb of columns:  15
nb of rows:  673

Index(['Date', 'Name', 'Mannschaft', 'Rohe Präsenz (min)', 'Pause (Minuten)',
       'Nettopräsenz (Min.)', 'Behandlung (min)', 'DMT', 'Productiviy',
       'Processed tickets', 'Closed Tickets', 'FTE (processed)',
       'FTE (presence)', 'FTE weighted', 'Country'],
      dtype='object')

In [37]:
# FR
filename = 'Consolidation_HR/FR.xlsx'
fr = pd.read_excel(filename, index_col=None, header=0)
fr = pd.DataFrame(fr)

# check dataframe shape
print('Dataframe Shape: ', fr.shape)
# add a column 'Country' to diferentiate the data in the consilidated dataframe

fr['Country']= 'FR'
# check dataframe shape after adding the new column
print('Dataframe Shape: ', fr.shape)
# visualize first rows
fr.head()

Dataframe Shape:  (267, 14)
Dataframe Shape:  (267, 15)

,Date,Nom/Prénom,EQUIPE,Présence brute (min),Pause (min),Présente nette (min),Traitement (min),DMT,Productivité horaire,Tickets traités,Tickets clos,FTE (traitement),FTE (présence),FTE pondéré,Country
0,2022-04-12,Employee_1,TEAM_1,102,0,102,4,0.001481,0.6,2,1,0.00,0.25,0.00,FR
1,2022-04-19,Employee_1,TEAM_1,478,0,478,275,0.011250,2.0,17,16,0.75,1.00,0.75,FR
2,2022-04-20,Employee_1,TEAM_1,427,0,427,142,0.008981,1.4,11,10,0.50,1.00,0.50,FR
3,2022-04-21,Employee_1,TEAM_1,482,0,482,129,0.011250,1.0,8,8,0.50,1.00,0.50,FR
4,2022-04-22,Employee_1,TEAM_1,476,0,476,117,0.013634,0.8,6,6,0.25,1.00,0.25,FR

In [38]:
print('nb of columns: ', len(fr.columns))
print('nb of rows: ', len(fr))

fr.columns

nb of columns:  15
nb of rows:  267

Index(['Date', 'Nom/Prénom', 'EQUIPE', 'Présence brute (min)', 'Pause (min)',
       'Présente nette (min)', 'Traitement (min)', 'DMT',
       'Productivité horaire', 'Tickets traités', 'Tickets clos',
       'FTE (traitement)', 'FTE (présence)', 'FTE pondéré', 'Country'],
      dtype='object')

In [43]:
# UK
filename = 'Consolidation_HR/UK.xlsx'
uk = pd.read_excel(filename, index_col=None, header=0)
uk = pd.DataFrame(uk)

# check dataframe shape
print('Dataframe Shape: ', uk.shape)

# add a column 'Country' to diferentiate the data in the consilidated dataframe
uk['Country']= 'UK'

# check dataframe shape after adding the new column
print('Dataframe Shape: ', uk.shape)

# uk columns
print(uk.columns)

# visualize first rows
uk.head()

Dataframe Shape:  (269, 14)
Dataframe Shape:  (269, 15)
Index(['Date', 'Name', 'Team', 'Raw Presence (min)', 'Pause (min)',
       'Real Presence (min)', 'Treatment (min)', 'DMT', 'Productivity hours',
       'Processed Tickets ', 'Closed Tickets ', 'FTE ', 'FTE (presence)',
       'FTE weighted', 'Country'],
      dtype='object')

,Date,Name,Team,Raw Presence (min),Pause (min),Real Presence (min),Treatment (min),DMT,Productivity hours,Processed Tickets,Closed Tickets,FTE,FTE (presence),FTE weighted,Country
0,2022-04-12,Employee_1,TEAM_1,102.0,0.0,102.0,4.0,0.001481,0.6,2.0,1.0,0.00,0.25,0.00,UK
1,2022-04-19,Employee_1,TEAM_1,478.0,0.0,478.0,275.0,0.011250,2.0,17.0,16.0,0.75,1.00,0.75,UK
2,2022-04-20,Employee_1,TEAM_1,4.0,0.0,427.0,142.0,0.008981,1.4,11.0,10.0,0.50,1.00,0.50,UK
3,2022-04-21,Employee_1,TEAM_1,482.0,0.0,482.0,129.0,0.011250,1.0,8.0,8.0,0.50,1.00,0.50,UK
4,2022-04-22,Employee_1,TEAM_1,476.0,0.0,476.0,117.0,0.013634,0.8,6.0,6.0,0.25,1.00,0.25,UK

Create an excel file where country would be on a separate sheet

In [45]:
# create excel writer
writer = pd.ExcelWriter('Consolidation_HR/Consolidated_by_sheet.xlsx')
# write dataframe to excel sheet named 'marks'
uk.to_excel(writer, 'UK')
fr.to_excel(writer, 'FR')
de.to_excel(writer, 'DE')
# save the excel file
writer.save()
writer.close()